<%- include('./partials/head.ejs') %>

<h1>Main Site</h1>
<h3>My Data</h3>
<p><%- JSON.stringify(myData) %></p>

<h3>My Friends</h3>
<p><%- JSON.stringify(myFriends) %></p>

<h3>Friends Activities</h3>
<p><%- JSON.stringify(friendsActivities) %></p>

<%- include('./partials/foot.ejs') %>
